# تجاهل البيئة الافتراضية
venv/
env/
.env

# تجاهل ملفات بايثون المؤقتة
__pycache__/
*.py[cod]

# تجاهل قاعدة البيانات المحلية (إذا وجدت)
db.sqlite3

# تجاهل ملفات الميديا (لأننا نرفع الكود فقط وليس صور المستخدمين)
media/

# تجاهل ملفات النظام
.DS_Store