{% load static %}
<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="UTF-8">
    
    <title>{% block title %}منصة الحجز{% endblock %}</title>
    
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    
    {% block extra_css %}{% endblock %}
</head>
<body>
    <header>
        <h1>⚽ center </h1>
        <nav>
            <!--<a href="{% url 'stadium_list' %}">🏟️ الملاعب</a>-->
           <a href="{% url 'league_list' %}">🏆 الدوريات</a>

            {% if user.is_authenticated %}
                <span>مرحباً، {{ user.username }}</span>
                <a href="{% url 'logout' %}">تسجيل الخروج</a>
            {% else %}
                <a href="{% url 'login' %}">تسجيل الدخول</a>
                <a href="{% url 'signup' %}">إنشاء حساب</a>
            {% endif %}
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
    
    <script src="{% static 'js/script.js' %}?v=2"></script>
    
    {% block extra_js %}{% endblock %}

</body>
</html>